<div class="hero-section">
		<div class="hero-content global-padding">
			<header2>
			<section class="hero">
				<div class="left">
				<h1>itworksornot!?#1 Guide <br>to the <br><span>Northwoods</span></h1>
				<a href="/#content">Explore</a>
				</div>
				<div class="right">
				<img src="/content/images/minocqua-featured.jpg" alt="">
				</div>
			</section>
			</header2>
		</div>
	</div>
</div>