{{^if @member}}
<div class="subscribe-section">
	<div class="subscribe-wrap">
		<form class="subscribe-form">
			<a href="{{@site.url}}/membership/" class="global-button">{{t "Become a subscriber"}}</a>
		</form>
		<div class="subscribe-form-caption">
			{{t "Get the email newsletter and unlock access to members-only content and updates"}}
		</div>
	</div>
</div>
{{/if}}